# Capstone Project - The Battle of the Neighborhoods

## Table of contents
* [Introduction: Business Problem](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)

# Introduction/Business Problem
## 1. A description of the problem and a discussion of the background

In this project I will compare neiberhoods of two big cities in Europe, Amsterdam and Berlin.

My target audience are people that know one city pretty well and are wondering which neighborhood of the other city is most similar to the one they like.

They could use this data to choose location of their hotel or apartment when visiting or moving to the other city. 

Criteria that I will take into the consideration are, Population density, area, venues nearby

# Data 
## 2. A description of the data and how it will be used to solve the problem.

I will take postal codes, neigboorhood info, geo location from, **https://postal-codes.cybo.com/germany/berlin/#listcodes**, **https://postal-codes.cybo.com/netherlands/amsterdam/#listcodes** then using the foursquare API, I will obtain data about the venues in each neiborhood to compare them.

The details page on **cybo.com** have **Neighborhoods**, **Coordinates**, **area** and **population** fields 
Foursquare endpoint gives information about the venues **https://api.foursquare.com/v2/venues/explore**

First entry from the Berlin codes:


Postal Code|City|Administrative Region|Population|Area
 --- | --- | --- | --- | --- 
10115|Berlin|Berlin|16,678|2.421 km²

And in the details page **https://postal-codes.cybo.com/germany/10115_berlin-berlin/** fields that I will use:

| | |
:--- | --- 
**Neighborhoods**|Mitte
**Coordinates**|52.533706954560394° / 13.387223860255002°

Interesing information from the API are in the items, especialy venue fields.

Getting data from cybo.com in separate notebook, here I will import the obtained files:

In [10]:
import pandas as pd

In [19]:
berlin_codes_df = pd.read_csv('berlin_codes.csv', delimiter=';')
berlin_codes_df.head()

   Postal Code    City Administrative Region Population Area km²
0        10115  Berlin                Berlin     16,678    2.421
1        10117  Berlin                Berlin     24,223    3.321
2        10119  Berlin                Berlin      7,408    0.857
3        10178  Berlin                Berlin     14,069    1.872
4        10179  Berlin                Berlin     15,897    2.183

In [20]:
berlin_details_df = pd.read_csv('berlin_details.csv', delimiter=';')
berlin_details_df.head()

   Postal Code  Median Age         Neighborhoods   Latitude  Longitude
0        10115        43.0                 Mitte  52.533707  13.387224
1        10117        43.0                 Mitte  52.518746  13.390193
2        10119        43.0  Bezirk Pankow, Mitte  52.532666  13.407149
3        10178        43.0                 Mitte  52.523474  13.412203
4        10179        43.0    Luisenstadt, Mitte  52.514591  13.419699

In [21]:
amsterdam_codes_df = pd.read_csv('amsterdam_codes.csv', delimiter=';')
amsterdam_codes_df.head()

   Postal District       City Administrative Region Population Area km²
0             1011  Amsterdam         North Holland      6,606    1.032
1             1012  Amsterdam         North Holland      7,067    1.207
2             1013  Amsterdam         North Holland     26,792      6.3
3             1014  Amsterdam         North Holland     15,056    2.699
4             1015  Amsterdam         North Holland      5,926    0.776

In [22]:
amsterdam_details_df = pd.read_csv('amsterdam_details.csv', delimiter=';')
amsterdam_details_df.head()

,Postal Code,Median Age,Neighborhoods,Latitude,Longitude
0,1011,36.3,"Amsterdam-Centrum, Stadsdeel Centrum",52.371124,4.903752
1,1012,36.3,"Amsterdam-Centrum, Centrum, De Wallen, Stadsde...",52.373179,4.894910
2,1013,36.3,"Amsterdam-Centrum, Amsterdam-West, Haarlemmerb...",52.387662,4.883396
3,1014,36.3,"Amsterdam-West, Bedrijventerrein Sloterdijk, S...",52.393066,4.853503
4,1015,36.3,"Amsterdam-Centrum, Grachtengordel-West, Jordaan",52.378205,4.882973